# Data Analysis and Visualization Assignment-1

## Team Memebers (NAME + ROLL)
-   Chirag - 12140520
-   Anant Yadav -12140190

# Data Scraping + EDA + Clustering

In [ ]:
%pip install beautifulsoup4 selenium webdriver_manager tqdm

Requirement already satisfied: beautifulsoup4 in /home/chirag321122/anaconda3/envs/ds210/lib/python3.8/site-packages (4.11.2)
Requirement already satisfied: selenium in /home/chirag321122/anaconda3/envs/ds210/lib/python3.8/site-packages (4.8.2)
Requirement already satisfied: webdriver_manager in /home/chirag321122/anaconda3/envs/ds210/lib/python3.8/site-packages (3.8.5)
Requirement already satisfied: tqdm in /home/chirag321122/anaconda3/envs/ds210/lib/python3.8/site-packages (4.65.0)
Requirement already satisfied: soupsieve>1.2 in /home/chirag321122/anaconda3/envs/ds210/lib/python3.8/site-packages (from beautifulsoup4) (2.4)
Requirement already satisfied: urllib3[socks]~=1.26 in /home/chirag321122/anaconda3/envs/ds210/lib/python3.8/site-packages (from selenium) (1.26.14)
Requirement already satisfied: certifi>=2021.10.8 in /home/chirag321122/anaconda3/envs/ds210/lib/python3.8/site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio-websocket~=0.9 in /home/chirag321122/anaconda3/envs/ds210/lib/python3.8/site-packages (from selenium) (0.10.0)
Requirement already satisfied: trio~=0.17 in /home/chirag321122/anaconda3/envs/ds210/lib/python3.8/site-packages (from selenium) (0.22.0)
Requirement already satisfied: packaging in /home/chirag321122/anaconda3/envs/ds210/lib/python3.8/site-packages (from webdriver_manager) (23.0)
Requirement already satisfied: requests in /home/chirag321122/anaconda3/envs/ds210/lib/python3.8/site-packages (from webdriver_manager) (2.28.2)
Requirement already satisfied: python-dotenv in /home/chirag321122/anaconda3/envs/ds210/lib/python3.8/site-packages (from webdriver_manager) (1.0.0)
Requirement already satisfied: idna in /home/chirag321122/anaconda3/envs/ds210/lib/python3.8/site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: sniffio in /home/chirag321122/anaconda3/envs/ds210/lib/python3.8/site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: sortedcontainers in /home/chirag321122/anaconda3/envs/ds210/lib/python3.8/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in /home/chirag321122/anaconda3/envs/ds210/lib/python3.8/site-packages (from trio~=0.17->selenium) (22.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in /home/chirag321122/anaconda3/envs/ds210/lib/python3.8/site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: async-generator>=1.9 in /home/chirag321122/anaconda3/envs/ds210/lib/python3.8/site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in /home/chirag321122/anaconda3/envs/ds210/lib/python3.8/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in /home/chirag321122/anaconda3/envs/ds210/lib/python3.8/site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /home/chirag321122/anaconda3/envs/ds210/lib/python3.8/site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/chirag321122/anaconda3/envs/ds210/lib/python3.8/site-packages (from requests->webdriver_manager) (3.0.1)
Requirement already satisfied: h11<1,>=0.9.0 in /home/chirag321122/anaconda3/envs/ds210/lib/python3.8/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

## Import Libraries

In [ ]:
import time
import os
import re
from bs4 import BeautifulSoup
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from tqdm import tqdm
import lxml

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

## WebDriver Creation

In [ ]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options

In [ ]:
# Driver creation
chrome_options = Options() # Initializing am options object

#chrome_options.add_argument("--headless") # Ensure GUI is off
chrome_options.add_argument("--no-sandbox")
#chrome_options.add_argument("--incognito")
#chrome_options.binary_location = "/sbin/brave" # optional, if you don't have chrome

# Silent download of drivers
os.environ['WDM_LOG'] = 'False'

# Create service
webdriver_service = Service(ChromeDriverManager().install())
driver = webdriver.Chrome(service = webdriver_service, options = chrome_options)

## Data Scraping
Scrape the job-postings for the following roles in India:
- Data Engineer
- Data Analyst
- Data Scientist
- Machine Learning Engineer

**Instructions**
- Scrape 300 Job postings per role
- For each job posting, extract the following information:
     - job_title
     - job_role (one of the above 4)
     - company
     - job_location
     - job_summary
     - post_date (posted how many days ago)
     - today (date)
     - job_salary(if not present, fill it with NaN)
     - Job_url
- Create a dataframe from this information

In [ ]:
from selenium.webdriver.support.ui import WebDriverWait
from datetime import datetime

In [ ]:
Total_jobs=[]
roles = ['Data Engineer', 'Data Analyst', 'Data Scientist', 'Machine Learning Engineer']
# Scrape 300 Job postings per role

for role in roles:
    print(f"Companies offering jobs for {role} role:-")
    cnt=0
    for i in range(30):
        cnt+=1
        print(cnt)
        link = f"https://in.indeed.com/jobs?q={role.replace(' ', '+')}&l=India&start={10*i}"
        driver.get(link)
        page_source = driver.page_source
        # Parse 1-page
        soup = BeautifulSoup(page_source, 'lxml')
        all_jobs = soup.find_all('div', attrs = {'class':'job_seen_beacon'})
        for jobs in all_jobs:
            dict_job={}
            try:
                dict_job['title']=jobs.find('h2', attrs = {'class' : 'jobTitle css-1h4a4n5 eu4oa1w0'}).text
                dict_job['job_role']=role
                dict_job['companyName']=jobs.find('span', attrs = {'class' : 'companyName'}).text
                dict_job['job_location']=jobs.find('div', attrs = {'class' : 'companyLocation'}).text
                dict_job['Job_Summary']=jobs.find('div',attrs={'class':'job-snippet'}).text.strip()
                dict_job['post_date']=jobs.find('span',attrs={'class':'date'}).text
                salary=jobs.find('div', attrs = {'class' : 'metadata salary-snippet-container'})
                if salary:
                    dict_job['salary']=salary.text
                else:
                    dict_job['salary']=float("NaN")

                dict_job['today_date']=datetime.today().strftime('%Y-%m-%d')

                dict_job['Job_url']=jobs.find('a',attrs={'class' : 'jcs-JobTitle css-jspxzf eu4oa1w0'})['href']
            except Exception as e:
                Errors=e

            Total_jobs.append(dict_job)
        time.sleep(3)

Companies offering jobs for Data Engineer role:-
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
Companies offering jobs for Data Analyst role:-
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
Companies offering jobs for Data Scientist role:-
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
Companies offering jobs for Machine Learning Engineer role:-
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [ ]:
Total_jobs

[{'title': 'Software Engineer 2- BIOS Automation',
  'job_role': 'Data Engineer',
  'companyName': 'Dell Technologies',
  'job_location': 'Bengaluru, Karnataka',
  'Job_Summary': 'As a Software Engineer 2, responsible for the design and development activities associated with methods for Automating /Validating hardware/software systems,…',
  'post_date': 'PostedPosted 30+ days ago',
  'salary': nan,
  'today_date': '2023-03-15',
  'Job_url': '/pagead/clk?mo=r&ad=-6NYlbfkN0BdeCH3wzlYpD364Be5JbcCJKJ8S-TlvC_iwEgvLx09tUBe2prqhCP1yYc_3luScx6p_JXsY0uz1l0w6PbcYvBD42XJDFLVI-vtm1ivCkXHiCB0sNdowjXep6r1uXWziOJGJmLoPVjBHQk8qXs4T3uc7iDgMcUp8lYAGxD30fI7IzIvkyO2nIJS2GvatCft02JCG_FAhnBym8oiRdYVgizraN2d74Ri3TfxEZW8EuCCfpN7ACr8VIFAHw6qoNczUwkqpOC_UOsteUe1ULdR5w0eEqZiJ4iNeeKuq8yZa1wPv3TSgQSc0VJSA3D8xk1RPTCyLmGwMW7vLsWpxt35sns0RpJHiC3JAkIhgZguJ77NA9_GQmR5shHMobAYLmbWNOogf6IX9ZKmcJ6Z-HhpCvbsPkeKfY3Zza8P720t73ssQm6wqOBvYsukufQIp9n5DHerz__m2ExNSMsKpUMJzUotcU9Ac1Kfd7tbZb-vNvStM1pLFBQXYj0sVeamQeInqsg5ghNfNMAoablSx20r5sABIEtX_vHMMudHWr_Z_wNwVxiNXTEK2kLItqRqoJzEqX4qBS-tnlRhxC58MdSLRBSVBmOmQYdGg6RQxSHR4kJ7823ukUYS9qs3TI_bIqM4IknRON8ANZXGjC8je7HBM0uYjCvcqyvFZEk2LycqKFu89WQhufPk_kumSoi-Lk571xB4_gETGg0prnpXgsLBL5f-ylSeJT_mxZvDCVX82OKYj7B8SfRtpZHdzlGLBV_1x76pjz5DbjRO9bhcC6t-x0xmBb76okjiOEbXZSqOiKeY21FdO3P8TqZMmL7KbpvSUkkBX6zb9DADU3DEIDqijEHaWmxQV8t9pv0qHSXEoN-WdoYKoCamLzIYOAOa1eksS-VmmI01S0kvCOVkRc4UqDSJKGj5Gy_xoyqEqlnijazdiybyyAyAuxE8IAJvsa1tnzNZZDTyvhUKx24xRdsv01WR4KSmrPwuRG85aMzO-YJW9CpncsjkkNVoFQc1EmzqsFGraNqp3s5C7aAaV7V6p_XlfOzF6_3v8KzDK6abFHADKGeQFNwYyP5LS2pfFLWLSJWh01k_gL7I38DW9OJUdRmDJfpMEBszwu22iTSKRP8b9JKb3DAyiz3uAefUMzfhjF1xagI4lHZj4L6urLnsSFb0f87H-UqJNQhgIkYBDrjKLNRQjtirEdS5huyVU1fOgrXqOCd9m6Q9Rz73HeRp9rQg&xkcb=SoCF-_M3SyqrBTSFhp0JbzkdCdPP&p=0&fvj=0&vjs=3'},
 {'title': 'Broadcast Engineer',
  'job_role': 'Data Engineer',
  'companyName': 'Conference Technologies, Inc.',
  'job_location': 'Pune, Maharashtra',
  'Job_Summary': 'Key participant in business development including RFP responses, bid interviews, and engineering sales calls with potential clients.',
  'post_date': 'PostedPosted 30+ days ago',
  'salary': nan,
  'today_date': '2023-03-15',
  'Job_url': '/pagead/clk?mo=r&ad=-6NYlbfkN0AiNMvsi1d0NtjZYREhIAd6FHX2DLU0Qp6h76bZjiVpNzbqJrYR1nNUcDWvI9hNhJG2zbz76Atif205FauDTekGxdZ9EUhN5zvBAlu3rHUrNnglkgiLsvbm-mDJroWTg_dBBS8Ik4qqzxKOIQK0iFeNwFTg3Sddpc5Rs1ZKsqscc8NHdlr81C3_3hYzNTB-J0Oh9rj4yFvOKu0PnxIrwk6EkKBP0TTseduTBZplto3sUdfwC8hm8nI0ItYoTvGcx6G6NnXOEKIDM47b9yvBiSbnfvPugNkVtNnNLYjPXsoI8pCmI7pjGmwC7HZNcpyNNlrEM30tsy6J5m_cQu7bDXzj-b-Ca_01RBnmnlYtgMPA4JtdYr6CrCoSKF60k2qJAT_tNMjZL9S6HWzmQRFwbpuYlIDP5k1mDsL2vySgIJ06QYkHOT-JQ-FBmAmGGek1u2rhMSamOKvOn4UXlDlLP-An17p5VBv_oXghMm3B7TAPCvZEKY1dT66-K_Qh8SRLE3UirCF2NcC7qBzrAWLcxiaH&xkcb=SoAx-_M3SyqrBTSFhp0IbzkdCdPP&p=1&fvj=1&vjs=3'},
 {'title': 'Software Engineer',
  'job_role': 'Data Engineer',
  'companyName': 'Clarivate',
  'job_location': 'Bengaluru, Karnataka',
  'Job_Summary': 'The team consists of 10-12 engineers and is reporting to the Sr Manager.\nWe have a great skill set in Spark, Java, Scala, Hive, Sql, XSLT, AWS EMR, S3, etc and…',
  'post_date': 'PostedPosted 30+ days ago',
  'salary': nan,
  'today_date': '2023-03-15',
  'Job_url': '/pagead/clk?mo=r&ad=-6NYlbfkN0BUkGQXKvz_vqTVnr0Vn5RYEtDOUY0w86cUTSPT2moMg1hz6LtadXLtghczIzGeDKg9857LlF8_hD-w2Y5UT8DlbwtPCegZ2uZZcdZN3n_0MHkRrRNGxhB5rpwa826CDw5adlsO0g_YHdoT4xDi18LMKnO1ICk92-SrOeaSGjFse851_US1JgU5WY2vgD9EgXYm6tJ7HKH6bhvkFJPyvXUS8teHTR9nYJm1lF__WLLkgOiZMIerQssfuch8nwcAB0nYZdCUGiiIGEcAhcP0JOoBAqqHBZ1tcFtDygSbtG4wacd7sfTJ41t9XRsnBndKlQk7DUHxn8PeRnJzJDcnuHULJdtcXj23j6CmTt2FAh6GRaUclcxdAWdPOrNi2iSjLP13rA-E-eV2mzAZR0QrcLtlNPwlx2hws0DfQRo5Kj3xSPAJ92JdWyrI0Ybx4lTKg-fzTNk2AFj6IZaRTKoVKHfEQ-W8WN6EEy9pCvm5GhWHxVlKxUNQiHEruiIN1LLZRBs0DxnAf3_-BRWzm68jfkuHvsgKc3nDR57iZLA7DYAVF28ADEhkA4E1weOQmD_y5KiyTNjAPAKM5rDyo82xowh0e_aZak3LMK8c_g8mvDhvfup7kdnVdgxN&xkcb=SoDp-_M3SyqrBTyFhp0LbzkdCdPP&p=2&fvj=0&vjs=3'},
 {'title': 'SR Mulesoft Engineer',
  'job_role': 'Data Engineer',
  'companyName': 'Giant Eagle',
  'job_location': 'Yelahanka Satellite Town, Karnataka',
  'Job_Summary': 'Work on problems of moderate scope where analysis of situations or data requires review of a variety of factors.',
  'post_date': 'PostedPosted 13 days ago',
  'salary': nan,
  'today_date': '2023-03-15',
  'Job_url': '/pagead/clk?mo=r&ad=-6NYlbfkN0B9Z5kUrYpJSl1jY-NmjPX7HlwbyZlOtE5lNuYxyWYp6wH4w4oCjnyWj2mpoyouuSa9sc9gWSTtJ0GCuCF597n7qWtncdSiCvSJzFyxymL3k6tJ7gIRD13V-pL17RP2ra3zlXCs09mHKMmcaHLdWBHX7_ZV0njopUD7OWKx8Dgwyy0KwzCikznwA1oxh6IToJOD1e5i-jZ7dNRiOpKIHVeve1Ct5K-WLTq4bXtzqLLOERX-0mZy1OAjGJfXc7NT381U5FPD0BZg5u2mc1LlM3P0Ph8C8B980p-YvV0Ww0CysnWrCCJRU6dAZ6NsDV4MSPkzYZ0e07HGeXhuvHrw_-nb3BHOS1klpAKMmKi61ndtR4RYRUS2diCAwNl5sp3vNvP-IuPjrRcYEpJPYiOPcI7VxZHiScMI139u2-GmzwLDQy45txgQPhLhkOKnDI9f3nVh7nMXnC52p00uUeK-T-8GEFvFCA7l6V9vRm_ylVW3LOteLBtmvw8HFsP4Kp9OwdVQO1jA7imF885RswqPnMzAsUcrbcov-OM=&xkcb=SoBd-_M3SyqrBTyFhp0KbzkdCdPP&p=3&fvj=0&vjs=3'},
 {'title': 'R216181 Manager 2 Software Engineering - Embedded Controller',
  'job_role': 'Data Engineer',
  'companyName': 'Dell Technologies',
  'job_location': 'Bengaluru, Karnataka',
  'Job_Summary': 'As a Software Engineering Manager 2, leading a team of engineers responsible for the Embedded Controller Project.\nShould have strong development fundamentals.',
  'post_date': 'PostedPosted 30+ days ago',
  'salary': nan,
  'today_date': '2023-03-15',
  'Job_url': '/pagead/clk?mo=r&ad=-6NYlbfkN0BdeCH3wzlYpD364Be5JbcCJKJ8S-TlvC_iwEgvLx09tUBe2prqhCP1yYc_3luScx6iYWSxaefqm8ujQpxOLg7JNkfROIqc-3ZGaQaNSVMe_J-kHc0YJfFd_jGuJHBgrWjkjHwGJs5aGlULW-4ujr0fDFHACqspKcaprUZgIXt57acmvAXKN4LA1lKCEMHX2tUO_K6BvdTeNgdF7qB8ZonzhZKJgpXHWXTvsfkHoKftApdzZkjw-z3QtFFh7ui5sSsfAUv3IPBux6dGsRM4i3vHjxMkIOSSD8bOn4xdE9Oz6Em6_0I7Jw6TAAYeOSTBmgVPTeCa6Zp-NkKNN_6bxPwkoDcwp-IjxnEKktVB34ndCqu76QD7d7owtF9vO8qH_Au_bM_mZenjoXUKrFQ6VxxuhwfunSccU6sjfZNic2oAhPkerD5j81PNFGQhGffeoMziOK3NrMkX6M0l2UNioZd5jmIKQsiDAHMq985RApBpNAK9TprsohBvvPYqmZoYQFhSwWVF8Z40xcg6FBRmpC6XdaBiAvSa4907j6FnVdGNS2DCLx7593pdAUrjmPAlQkW-NyFvLC5ac0H_D5iCCiboghGEGmyVeyQ83KnptHJ_wb4VD7r12mhZGe_fl3RZoA_uJOQRIsiiGbROciLZTeIAxXyOdJIY1JhKDt2tba0LlvOxVQq1j59Zhm9H1qxLba9q0t_4n7TC5zNWJ9vBSpi3GH8sv-wSdH69y-qJrJ1Ns5DwjajADpKuD6GikhCc1wMFkd9J0ZQ23AnuIIS0zsOrG9k45fJ9jJxIpYcMVBFy1Ig2k0Z5zeou2-60PcySy0jIsCb1PLwoNJm6_Xm9hRvpjJfhMrmeKElAKmzKxczbSw9AChKEDiSeKsRuTJ00rnLWQCkC-tY7Pcg95mnvydkatreqacWVgxfNda5ihsCjm4x5acOnIN50iFaPcC-QYHTWgsknIOf5jYJpbMbntd1qzXaLdvB2_-1tXHgmpYtP99h5b7TpTfFwwzrzI3GyTRuDDlF0iyHDmv_K997Pznu3J-j_oup9lFXaO2l2O1JjJCb1f-XPSTjpW0vXAQ_qqplBwc7O3uedRsjZBi6brHNP61fgqRUnTUrRnamsWDohCU5beJxRRJj8d8bzwqH91e1KR5SaGHUrDJVq41P8mh8NcpnVJ_AIPU5UNOBKTFvfphVwu3SdLx0y60S2j1YBz-Zac51ghpqJwW-tgcxV-9to&xkcb=SoDA-_M3SyqrBTyFhp0JbzkdCdPP&p=4&fvj=0&vjs=3'},
 {'title': 'Data Modeler',
  'job_role': 'Data Engineer',
  'companyName': 'Giant Eagle',
  'job_location': 'Yelahanka Satellite Town, Karnataka',
  'Job_Summary': 'Provide technical leadership, mentoring and training of existing software engineers.\nEnables us to expand internal capabilities in the areas such as data…',
  'post_date': 'PostedPosted 12 days ago',
  'salary': nan,
  'today_date': '2023-03-15',
  'Job_url': '/pagead/clk?mo=r&ad=-6NYlbfkN0B9Z5kUrYpJSl1jY-NmjPX7HlwbyZlOtE5lNuYxyWYp6wH4w4oCjnyWj2mpoyouuSbZu4ZoFViJFpgbvVRfYKp-yAzmA4B572gxQrPQTNWbXMTHfIo0-K6meDlID-_siVVVXMtLZCdZzOHGjnzCF3egjZGAzvAaU8vMjle4W1tTocmOYWHVsVQTtA-x9zNz2If0h5Rl103Qc7KLdO4uHVue_zFHwxBj_5aep5fwZ0CZSPYalzS5PqDPsjAXEYHsz-fcww6oRTJWU0TpfyffAAhzJXILoc99fBAQdYQlIU5c4TS_heGo6mhtGpU4sYtYTeYTcEUToFJN0ZmeilmHaXisM8TnInvx0b80vy0iot9-mUiFyeblMy_pr6ekVRdZZh0rinpGoFSPw0Xivm3mG3ZjSQ14XulBP5Ps5-fevI3ZbRHjjoSynHU5phQYu3_4DnZA4vshPo9nTWcwvAqqv8lH6H97Pk7htGwZNU9TB7WP2if0nlJC89Mjy_fWt2TZl2po-262lPcsAx6eAE6ERxsZ0Wdv45aPMAY=&xkcb=SoB0-_M3SyqrBTyFhp0IbzkdCdPP&p=5&fvj=0&vjs=3'},
 {'title': 'Computer Science - online tutor/expert',
  'job_role': 'Data Engineer',
  'companyName': 'Chegg India',
  'job_location': 'Remote in India',
  'Job_Summary': 'Anyone looking for IT Consultant/Cyber security Engineer or Cyber security Consultant/Information Systems Manager/Database Administrator/Multimedia Programmer…',
  'post_date': 'Hiring ongoing',
  'salary': nan,
  'today_date': '2023-03-15',
  'Job_url': '/pagead/clk?mo=r&ad=-6NYlbfkN0BBJGzQ3pZDDCAurZe0N9GWXS38iI_dIqspGlSJHY7voQrVdbngFuoJCkBlWJBtFeQCW6dmOHSrKMr95EaxIe18PVisEew6mc30CKO9ssAQvo1Vc3lZZu0kY6HwYxWqeaXi1LwzUaOH_RkHDvsa_-uhO5CdSdLMajQDZ3E6Z6DFsHeoMJZYujak9e2gaWtlU5ymp_n4vJTORD2pkdxreWJFErJ3IsNpsdNF0pxkXOnWekQ6wT3omjSw86bDJIGNma0HGLkj5JaXJdf7bkAMVWuyGjOqsBethLaFQh6cSOV_BrFICwtHu-C2Xkv56qvS2dvCLT_VbiWXq9G4DBuK53SrYe8tavfVyuZB5PpCh0ANIpC4fiV2sRFafxO0hSXJcZRC55oF7XsbGMOoUaIFDjNTaJDJ-6uc6dUQ91eJ-WbcJkIXOVmQCqiH79UjCXEsJhy-5DGJ7F1PjMp1kCqNGFYUpBZlnBKdpCSAc6OdnXFYyTgdTcsIokQo2mGYopUY9q_v854iJb8bvtFnqPxa5sANJu7XQmuonOY4qBQOdZ4Yt2jCOmzlWL9fnqt9OjcZLxZAfCTcguSsYLISWcwW1JZCAzCck792Xs89P65hliY8VYd7wm_8NE7w&xkcb=SoD6-_M3SyqrBTyFhp0PbzkdCdPP&p=6&fvj=1&vjs=3'},
 {'title': 'WSO2 Engineer',
  'job_role': 'Data Engineer',
  'companyName': 'Exaze',
  'job_location': 'Hyderabad, Telangana',
  'Job_Summary': 'Work closely with Business Analysts to analyze and understand the Business Requirements and Business cases, in order to produce simple, cost-effective and…',
  'post_date': 'EmployerActive 2 days ago',
  'salary': '₹8,00,000 - ₹16,00,000 a year',
  'today_date': '2023-03-15',
  'Job_url': '/pagead/clk?mo=r&ad=-6NYlbfkN0DXaHWapi88SlLW5qoLM-SVTAyjQRaSbppsfhqX3YVgp_Ju5ne8qzhq-JKiWgVUWZwyUeXsTpyR5U_R3B-mubj-zsr_FhAaFikOoOc2uCIoZLuoz9IJfeXwqTRkpS44ExF6F6623im1bE8IIAOsiWV_6EDEB8Z4LZmraJ1d5PUy8yWIWh2NpNqjPbFzF-LYPJsS-kzZt2a3FJdI-geXUeKnjg84iHCw8sVkqms_RS1JjATRJPKHvHBqAywhep2-Sj1Hw9KCpPeJ5HilaVbdIQ9CtzND5r4wFdzIQxSiKP4pfwt2_hPrVgX1ibkLqHZxfntwP6MzeCsXNPjKBwtPxFRht6MS3HLN_rl1tvZ46d9zT8G4jOw_VmDUYDLguS7WGGXVI6uq0q4Dfzrp6JRT72260FGFhcyxjuSijE34tySSgV9RQxqt3UYa8xZXiue2eG_OvFfGSkLt548xyHJsvVYqnVlUMQyAuTKQpH8B5htf3sq9r6o1kHXgYrj0qx6EdeKwE9jJWAFQblsNCSqN32tQW3-Jua7AJWY=&xkcb=SoBO-_M3SyqrBTyFhp0ObzkdCdPP&p=7&fvj=1&vjs=3'},
 {},
 {'title': 'Sr. Data Engineer',
  'job_role': 'Data Engineer',
  'companyName': 'Genworth',
  'job_location': 'Noida, Uttar Pradesh',
  'Job_Summary': 'Proficient in Cleaning and structuring the data by applying feature-engineering techniques.\nAs part of your role, you will be responsible to develop and…',
  'post_date': 'PostedPosted 30+ days ago',
  'salary': nan,
  'today_date': '2023-03-15',
  'Job_url': '/pagead/clk?mo=r&ad=-6NYlbfkN0DveHtaohNZTTr4NJ6iQ6LvBAugsddynFItxJfHbw6F-KCCBzz-kRnWozZCoRv0wg_W1ImkkiWNPY_DwF-HpEbgTTd_jI1zwdRg2KDoujy2fIbIYdi-kBUUom9WbC-x4gF2T0GwFMF4Wm4ZShKF_ywjgWUYf7CQl8sThJiv0iLltuGQarLKRwiZlEgbY01UqJyLcbHTnLc20G9FEttHe6nYUkrNAGIk9jrzUO6byb5AKwTxPpM7FI2yFVJJr5Ln4_bKjWBR3-w18BkvsY3kKbN6Hg5y3EyV0XkSP26lOyd1-uH2LI0hVCo_l6ZXPni8E9leitVN1aaujrpMKe_nCtCxaFFLB5WJ3tHi_QsA7-EdC3Lx8jqKQLAWXXlmaVGbYipLkYXDxdTTPtZesljbyyzVR9KMNvI5ycJtOJu0pEabD2kMIGApR34slAqWQz-lX9lWqOchKA26ykGVR60N3_hmkoyDTXcjVSgPqKwsox5bikj064Px_eXhZSFJ8q5XALu1m2oK40U6PGHXpYitAVO5nhunOCej_PYZl6j7ot8DXgU5qNBSTB-Ets9zh1BiNkY=&xkcb=SoDT-_M3SyqrBSSFhp0KbzkdCdPP&p=9&fvj=0&vjs=3'},
 {'title': 'Data Engineer',
  'job_role': 'Data Engineer',
  'companyName': 'Global Employees',
  'job_location': 'Remote',
  'Job_Summary': 'Passion for engineering and computer science around data.\nIncrease accessibility and effectiveness of data (work with analysts, data scientists, and developers…',
  'post_date': 'EmployerActive 1 day ago',
  'salary': '₹10,00,000 - ₹30,00,000 a year',
  'today_date': '2023-03-15',
  'Job_url': '/company/Global-Employees/jobs/Data-Engineer-20ffa9d0a016398d?fccid=0a420069a8b9978f&vjs=3'},
 {'title': 'SQL Data Engineer',
  'job_role': 'Data Engineer',
  'companyName': 'Smart fusion corporate solution',
  'job_location': 'Remote',
  'Job_Summary': 'Immediate Hiring!!! Salary : 400000 lak to 1200000 lpa Experience: 2 years to 10 years Contact: 98847 00289 Job Type: Full-time Salary: ₹600,000.00 - ₹1…',
  'post_date': 'EmployerActive 1 day ago',
  'salary': '₹6,00,000 - ₹12,00,000 a year',
  'today_date': '2023-03-15',
  'Job_url': '/company/SmartFusion-corporate-solutions-pvt-ltd/jobs/SQL-Data-Engineer-fbeee3679b25712f?fccid=15f83df41eaacd5b&vjs=3'},
 {'title': 'Data Engineer',
  'job_role': 'Data Engineer',
  'companyName': 'corioliscontinuum',
  'job_location': 'Remote',
  'Job_Summary': 'Responsible for the conception, design, development, and deployment of data architecture and data models.\nEnsure high-performance access to diverse data sources…',
  'post_date': 'EmployerActive 2 days ago',
  'salary': 'Up to ₹18,00,000 a year',
  'today_date': '2023-03-15',
  'Job_url': '/company/corioliscontinuum/jobs/Data-Engineer-3d9000ebbb30f28f?fccid=53b1f04fad3839cf&vjs=3'},
 {'title': 'Data Engineer - Jamaica',
  'job_role': 'Data Engineer',
  'companyName': 'TheHive',
  'job_location': 'Remote',
  'Job_Summary': 'Assess data to determine strategic approach to data management and identify data dictionary.\n5+ years of experience in analyzing and preparing data, including…',
  'post_date': 'PostedPosted 27 days ago',
  'salary': '₹1,24,237 a month',
  'today_date': '2023-03-15',
  'Job_url': '/company/TheHive/jobs/Data-Engineer-98deac5b4fdb8fb2?fccid=3f6264f8e7e6996f&vjs=3'},
 {'title': 'Big Data Engineer',
  'job_role': 'Data Engineer',
  'companyName': 'Albireo Tech System',
  'job_location': 'Remote',
  'Job_Summary': 'Skills- ETL, aws, sql, kafka, spark, dynamodb.\nTime - 30 min to 45 min.\nJob Types: Part-time, Freelance.\nPart-time hours: 5 per week.',
  'post_date': 'PostedPosted 22 days ago',
  'salary': '₹1,000 - ₹3,000 a day',
  'today_date': '2023-03-15',
  'Job_url': '/company/Albireo-Tech-System/jobs/Big-Data-Engineer-b55841737f9dd282?fccid=4495f8b04aecf27d&vjs=3'},
 {'title': 'Big Data Engineer',
  'job_role': 'Data Engineer',
  'companyName': 'Albireo Tech System',
  'job_location': 'Remote',
  'Job_Summary': 'Skills- ETL, aws, sql, kafka, spark, dynamodb.\nTime - 30 min to 45 min.\nJob Types: Part-time, Freelance.\nPart-time hours: 5 per week.',
  'post_date': 'PostedPosted 22 days ago',
  'salary': '₹1,000 - ₹3,000 a day',
  'today_date': '2023-03-15',
  'Job_url': '/company/Albireo-Tech-System/jobs/Big-Data-Engineer-b55841737f9dd282?fccid=4495f8b04aecf27d&vjs=3'},
 {'title': 'Integration Engineer',
  'job_role': 'Data Engineer',
  'companyName': 'Uber',
  'job_location': 'Hyderabad, Telangana+1 location',
  'Job_Summary': 'The Integrations Engineer will work in partnership with cross-functional teams to define requirements and ensure the seamless transfer of data within our…',
  'post_date': 'PostedPosted 30+ days ago',
  'salary': nan,
  'today_date': '2023-03-15',
  'Job_url': '/pagead/clk?mo=r&ad=-6NYlbfkN0AVIi8UxprrPGU7QPohOxOOpynq0pcPnEidcD-eE3H2SscmD_E2BRcx7-dx3BBatDlEuJwH3eeDUJcjNkN5TgxQEm-1MMO3bMRUWmWTpwm9-QazF67L_CwaW-t9CBnSRemI-qds0-vDmmZlV4sL4Ep9IF4sUetJM1erV8aN9Z7dK9JtvhXc7CqdBl6qdFX5KiypxC7fwlAYgZW36MDbL7x1s7LpvRVsH-1RlwpjzNimmddpoEHXCK7dRxapLe8U7mpRXMnIldDtOFqpdf66TowCmT7Aykm8cVDWkuiPy-jxB9efK9drDDZBse1A0fa2mkSU9rkNGiqyZj49-Hilm9P4hx9SB8rSO__M05U3l3pTdDYnOZd3A_ajS1kI3oVnUgUyQEdjk1JbKaicS4JNPAkZWIV673jRfOYzr-6JN8etSq7C9of9vfiLTLCZpxTQSvDGe55JapLBSjG-gtyAN9VEazUlc5ZakZolpkqfZqynULnHMWOXCYpHOfo9PSxI5rWIdOZjy9SiZSsrQrwf3aidF1RrjhogdpL3vHmh0hlwOE_1L59GT59e-UwiaXO_KvewyvZRQ7PKRWdzSeM-0VHuEgTezXlrTj2w44EO671BlzjblR-f2mCVOeIf4mqq7RhIiEmTCnv569rPJiKrU7_y3l5PsDvlAE9ljnPTKan-1lTcpOHm-h1AG71ydfFUdxdjPX4TA80Faed62I48zIb6Wzh1Xn5qWnA3P66mZiZVGmeh7SEdcgTbi8Widd3QIiyY6X28ovGs2Ri29G48GI4T2BgHbz6-nFUTEZpInie1_d5qUN7HIUvYwdjQBFvxWA6YA2Lk4jySJKFfLBIkzIvVXvDZtTdYBuufeEZK1QHh_jhkmgijryLL4yYpbEMaoBCsOAsNyD8Z1ekWjGd24QZssU6kqqQGB2gcfUHb3OlELnv3jAJF6vYv9cOVdC-EZ02CJU2BkbN3OVommrTr8PWEBnKDGoZi27VhRF1tzUUWN6k0KOwCuA8hxs5XhOS3AJSuuowDCSlbag1OkX4_jleYBKn_02jbMmXcrTPWeHGKu19iicu95dzA6JH5fXlF7bpFxk3E7ITPCt1vEaH9TvQbt6gY0dzV4Lhde0_GV4zdOz_wH0uSvFLtjTeaB2dMi5BhUzD3qEieQEuKgUwH4Almh5rFiaX242kIm20VLdCZ_g==&xkcb=SoDl-_M3SyqqRpyFhB0IbzkdCdPP&p=1&fvj=0&vjs=3'},
 {'title': 'Network Engineering - Engineer',
  'job_role': 'Data Engineer',
  'companyName': 'Telstra',
  'job_location': 'Bengaluru, Karnataka',
  'Job_Summary': 'Previous Cloud and data centre operations experience.\nWe are on the lookout for a capable technical IP network lead within Converge Core Engineering (CCE)…',
  'post_date': 'PostedPosted 11 days ago',
  'salary': nan,
  'today_date': '2023-03-15',
  'Job_url': '/pagead/clk?mo=r&ad=-6NYlbfkN0CdG0mlcq8sM0kM4Z0XjE22y1IvS4TfdSBI7lJNBQS5z7JpQ3_4tlP2Z1SxCDGvrdnC9Y0WD6d1sOfLsKXusBgEDCFPRE9Dg1kpaNlU8jvkJFFL3T0yPUDTCajQFc-GdgTuk_kWQ3MLomeMLhQCVwk1d5qKjX7Swv44D2aTFbvl0vURizixplHcnp2fdH85oOSDTrWZ_9Hc0N4yoDoJFRGxvS_NqLZ7166hN-j2tWFHN2VctEstioYK1NYcGnl_EFJMZGxC1pJmEOOkmKKnnZ8WL-mEkR8ahnNexGpl3uZsV1q4vBa2g9jdbMJBvLnyRvGXlugR1uWOno7jJHBR6j3Dvl0BX_q5uNSKuE4KRM1m2MqogXgccmkD_rmGiLPeICGBOWv8SDDtV7mRFVh9YStzxprp0fvYSFVGSppJX6Jjn5tYdzKiwSlApa__7ttRZssdC2HIbq620gKeV93TTnTsmYE4uxCk4FEhK5A-jJzdVe9P2OV8ePo3JBFy1W9T4SthWeO1QnoC3DeIuRaFBD8lS5H71CQTPF-RiwYCJHN_oMm8MoBFPGZArLnoXhd3EOFyMkXwHOFOMdOHATwQqZ9iYWdpLvOJwefOu3yZxPOftMKHG59UcHuvCcEMfN5Rsvt4r4wTKbAcbcLzIt4kyiWwGTbAZBW0KlotsunykE3c3A==&xkcb=SoBr-_M3SyqqRpyFhB0PbzkdCdPP&p=2&fvj=0&vjs=3'},
 {'title': 'Data Engineer',
  'job_role': 'Data Engineer',
  'companyName': 'corioliscontinuum',
  'job_location': 'Remote',
  'Job_Summary': 'Responsible for the conception, design, development, and deployment of data architecture and data models.\nEnsure high-performance access to diverse data sources…',
  'post_date': 'EmployerActive 2 days ago',
  'salary': 'Up to ₹18,00,000 a year',
  'today_date': '2023-03-15',
  'Job_url': '/company/corioliscontinuum/jobs/Data-Engineer-3d9000ebbb30f28f?fccid=53b1f04fad3839cf&vjs=3'},
 {'title': 'Data Engineer - Jamaica',
  'job_role': 'Data Engineer',
  'companyName': 'TheHive',
  'job_location': 'Remote',
  'Job_Summary': 'Assess data to determine strategic approach to data management and identify data dictionary.\n5+ years of experience in analyzing and preparing data, including…',
  'post_date': 'PostedPosted 27 days ago',
  'salary': '₹1,24,237 a month',
  'today_date': '2023-03-15',
  'Job_url': '/company/TheHive/jobs/Data-Engineer-98deac5b4fdb8fb2?fccid=3f6264f8e7e6996f&vjs=3'},
 {'title': 'Data Engineer',
  'job_role': 'Data Engineer',
  'companyName': 'krtrimaiq cognitive solutions',
  'job_location': 'Bengaluru, Karnataka',
  'Job_Summary': 'Krtrimaiq Cognitive Solutions appears to be a company that offers various cognitive services such as natural language processing, speech recognition, and…',
  'post_date': 'PostedPosted 23 days ago',
  'salary': 'From ₹50,000 a month',
  'today_date': '2023-03-15',
  'Job_url': '/company/krtrimaIQ-Cognitive-Solutions/jobs/Data-Engineer-8250bb321b895226?fccid=d3aa50321d9819e5&vjs=3'},
 {},
 {'title': 'Data Engineer- O9',
  'job_role': 'Data Engineer',
  'companyName': 'Acies Global',
  'job_location': 'Remote in Bengaluru, Karnataka',
  'Job_Summary': 'Passion for working with data - data processing, data storage, data visualization, data quality, data infrastructure, security.',
  'post_date': 'EmployerActive 1 day ago',
  'salary': '₹10,00,000 - ₹20,00,000 a year',
  'today_date': '2023-03-15',
  'Job_url': '/company/Acies-Global/jobs/Data-Engineer-0c324ad6572b6367?fccid=b791e275e2e14f3d&vjs=3'},
 {'title': 'Data Engineer',
  'job_role': 'Data Engineer',
  'companyName': 'Mercedes-Benz Research and Development India...',
  'job_location': 'Bengaluru, Karnataka',
  'Job_Summary': 'Work on Cloud/MAPR based Hadoop systems and build various data pipeline, data algorithms and processing solutions and provide insights.',
  'post_date': 'PostedPosted 30+ days ago',
  'salary': nan,
  'today_date': '2023-03-15',
  'Job_url': '/rc/clk?jk=417661483bdc6899&fccid=9ab138c02aaca829&vjs=3'},
 {},
 {'title': 'Data Engineer(Python, Scala, Spark)',
  'job_role': 'Data Engineer',
  'companyName': 'knorex india',
  'job_location': 'Remote in Pune, Maharashtra',

In [ ]:
df = pd.DataFrame(Total_jobs)

In [ ]:
df.to_csv('Indeed.csv', index=False)

## Exploratory Data Analysis (EDA)

### Data Cleaning
- Clean the data.
- Calculate the date of posting from the columns('post_data', 'today')
- Split the 'job_salary' column into 'job_salary_lower' and 'job_salary_upper'
- Create a new column called 'is_remote', which will be true if its a remote job.
- Clean the 'job_location' column to include only city name in India, if no city is found, make it by default 'India'. If its remote make the value as 'Remote'

### Visualization
- How are the jobs distributed geographically?
- Show which companies have more than 5 job-postings
- Show the distribution of number of characters in description.
- Show the distribution of salaries in remote jobs based on roles.
- Show the distribution of salaries in 'Bangalore'

### Data Cleaning

#### Clean the Data

In [ ]:
df = pd.read_csv('Indeed.csv')
df.describe()

,title,job_role,companyName,job_location,Job_Summary,post_date,salary,today_date,Job_url
count,1200,1200,1200,1200,1200,1200,1200,1200,1200
unique,536,4,775,140,1001,42,222,1,1053
top,Data Scientist,Data Engineer,Mercedes-Benz Research and Development India...,"Bengaluru, Karnataka",Software Engineer-SAP Abap Adobe Forms.\nAs a ...,PostedPosted 30+ days ago,?,2023-03-15,/company/NOVEL-FINANCIALS-BUSINESS-SOLUTIONS-P...
freq,103,300,27,356,22,731,839,1200,4

In [ ]:
df['salary'].fillna('?', inplace=True)
df['title'].fillna('?', inplace=True)
df

,title,job_role,companyName,job_location,Job_Summary,post_date,salary,today_date,Job_url
0,Software Engineer 2- BIOS Automation,Data Engineer,Dell Technologies,"Bengaluru, Karnataka","As a Software Engineer 2, responsible for the ...",PostedPosted 30+ days ago,?,2023-03-15,/pagead/clk?mo=r&ad=-6NYlbfkN0BdeCH3wzlYpD364B...
1,Broadcast Engineer,Data Engineer,"Conference Technologies, Inc.","Pune, Maharashtra",Key participant in business development includ...,PostedPosted 30+ days ago,?,2023-03-15,/pagead/clk?mo=r&ad=-6NYlbfkN0AiNMvsi1d0NtjZYR...
2,Software Engineer,Data Engineer,Clarivate,"Bengaluru, Karnataka",The team consists of 10-12 engineers and is re...,PostedPosted 30+ days ago,?,2023-03-15,/pagead/clk?mo=r&ad=-6NYlbfkN0BUkGQXKvz_vqTVnr...
3,SR Mulesoft Engineer,Data Engineer,Giant Eagle,"Yelahanka Satellite Town, Karnataka",Work on problems of moderate scope where analy...,PostedPosted 13 days ago,?,2023-03-15,/pagead/clk?mo=r&ad=-6NYlbfkN0B9Z5kUrYpJSl1jY-...
4,R216181 Manager 2 Software Engineering - Embed...,Data Engineer,Dell Technologies,"Bengaluru, Karnataka","As a Software Engineering Manager 2, leading a...",PostedPosted 30+ days ago,?,2023-03-15,/pagead/clk?mo=r&ad=-6NYlbfkN0BdeCH3wzlYpD364B...
...,...,...,...,...,...,...,...,...,...
1195,Senior Machine Learning Engineer,Machine Learning Engineer,BlackBerry,"Noida, Uttar Pradesh",3+ years of experience designing and building ...,PostedPosted 21 days ago,?,2023-03-15,/rc/clk?jk=b6aa6c5de1e7b004&fccid=a311d3f78a94...
1196,Speech Engineer,Machine Learning Engineer,Gnani Innovations,"Bengaluru, Karnataka","Good understanding of signal processing, machi...",PostedPosted 30+ days ago,?,2023-03-15,/rc/clk?jk=a5257efd3c2a9bd7&fccid=1ef8a80b6513...
1197,Data Engineer,Machine Learning Engineer,Barclays,"Pune, Maharashtra",Demonstrated hands-on experience delivering a ...,PostedPosted 30+ days ago,?,2023-03-15,/rc/clk?jk=ec5e9aa9bb18d0cf&fccid=057abf3fd357...
1198,ML Engineer,Machine Learning Engineer,GWC,"Bengaluru, Karnataka",Optimize and fine-tune machine learning models...,PostedPosted 19 days ago,?,2023-03-15,/company/GWC/jobs/Ml-Engineer-21d6d5c828bbaec0...
1199,Data Scientist/Analytics Engineer - Machine Le...,Machine Learning Engineer,Suntec Web Services,"New Delhi, Delhi",Implement efficient data structures to enable ...,PostedPosted 30+ days ago,?,2023-03-15,/rc/clk?jk=ba3992342a1af809&fccid=c65700477571...

In [ ]:
df1 = df.copy()
df1.drop(df1.index[(df1["title"] == "?")],axis=0, inplace=True)
df1

,title,job_role,companyName,job_location,Job_Summary,post_date,salary,today_date,Job_url
0,Software Engineer 2- BIOS Automation,Data Engineer,Dell Technologies,"Bengaluru, Karnataka","As a Software Engineer 2, responsible for the ...",PostedPosted 30+ days ago,?,2023-03-15,/pagead/clk?mo=r&ad=-6NYlbfkN0BdeCH3wzlYpD364B...
1,Broadcast Engineer,Data Engineer,"Conference Technologies, Inc.","Pune, Maharashtra",Key participant in business development includ...,PostedPosted 30+ days ago,?,2023-03-15,/pagead/clk?mo=r&ad=-6NYlbfkN0AiNMvsi1d0NtjZYR...
2,Software Engineer,Data Engineer,Clarivate,"Bengaluru, Karnataka",The team consists of 10-12 engineers and is re...,PostedPosted 30+ days ago,?,2023-03-15,/pagead/clk?mo=r&ad=-6NYlbfkN0BUkGQXKvz_vqTVnr...
3,SR Mulesoft Engineer,Data Engineer,Giant Eagle,"Yelahanka Satellite Town, Karnataka",Work on problems of moderate scope where analy...,PostedPosted 13 days ago,?,2023-03-15,/pagead/clk?mo=r&ad=-6NYlbfkN0B9Z5kUrYpJSl1jY-...
4,R216181 Manager 2 Software Engineering - Embed...,Data Engineer,Dell Technologies,"Bengaluru, Karnataka","As a Software Engineering Manager 2, leading a...",PostedPosted 30+ days ago,?,2023-03-15,/pagead/clk?mo=r&ad=-6NYlbfkN0BdeCH3wzlYpD364B...
...,...,...,...,...,...,...,...,...,...
1195,Senior Machine Learning Engineer,Machine Learning Engineer,BlackBerry,"Noida, Uttar Pradesh",3+ years of experience designing and building ...,PostedPosted 21 days ago,?,2023-03-15,/rc/clk?jk=b6aa6c5de1e7b004&fccid=a311d3f78a94...
1196,Speech Engineer,Machine Learning Engineer,Gnani Innovations,"Bengaluru, Karnataka","Good understanding of signal processing, machi...",PostedPosted 30+ days ago,?,2023-03-15,/rc/clk?jk=a5257efd3c2a9bd7&fccid=1ef8a80b6513...
1197,Data Engineer,Machine Learning Engineer,Barclays,"Pune, Maharashtra",Demonstrated hands-on experience delivering a ...,PostedPosted 30+ days ago,?,2023-03-15,/rc/clk?jk=ec5e9aa9bb18d0cf&fccid=057abf3fd357...
1198,ML Engineer,Machine Learning Engineer,GWC,"Bengaluru, Karnataka",Optimize and fine-tune machine learning models...,PostedPosted 19 days ago,?,2023-03-15,/company/GWC/jobs/Ml-Engineer-21d6d5c828bbaec0...
1199,Data Scientist/Analytics Engineer - Machine Le...,Machine Learning Engineer,Suntec Web Services,"New Delhi, Delhi",Implement efficient data structures to enable ...,PostedPosted 30+ days ago,?,2023-03-15,/rc/clk?jk=ba3992342a1af809&fccid=c65700477571...

In [ ]:
df1.reset_index(inplace = True)
df1 = df1.drop(['index'], axis = 1)
df1.to_csv('Cleaned_Data.csv', index = False)

In [ ]:
df_MLE = df1.loc[df1['job_role'] == 'Machine Learning Engineer']
df_MLE.reset_index(inplace = True)
df_MLE = df_MLE.drop(['index'], axis = 1).loc[:299]
df_MLE.to_csv('Cleaned_Machine_Learning_Engineer.csv')

In [ ]:
df_DS = df1.loc[df1['job_role'] == 'Data Scientist']
df_DS.reset_index(inplace = True)
df_DS = df_DS.drop(['index'], axis = 1).loc[:299]
df_DS.to_csv('Cleaned_Data_Scientist.csv')

In [ ]:
df_DA = df1.loc[df1['job_role'] == 'Data Analyst']
df_DA.reset_index(inplace = True)
df_DA = df_DA.drop(['index'], axis = 1).loc[:299]
df_DA.to_csv('Cleaned_Data_Analyst.csv')

In [ ]:
df1.loc[df1['job_role'] == 'Data Engineer'].loc[:299].to_csv('Cleaned_Data_Engineer.csv', index = False)
df_DE = pd.read_csv('Cleaned_Data_Engineer.csv')

In [ ]:
final_data = pd.concat([df_DE, df_DA, df_DS, df_MLE], ignore_index=True)
final_data.to_csv('Final_Data.csv', index = False)

In [ ]:
df1 = pd.read_csv('Final_Data.csv')

#### Calculate the date of posting from the columns ('post_data', 'today')

In [ ]:
#Add Date of Posting
df_date = df1
df_date['post_date'].unique()
from datetime import timedelta
inp = ['Posted', 'ongoing', 'Active']
def delay(x):
    if 'Posted' in x:
        numb1 = [30 for k in x.split() if (k[0:2] == '30')]
        numb2 = [int(k) for k in x.split() if k.isdigit()]
        numb = numb1 + numb2 + [0]
    if 'Active' in x:
        numb1 = [30 for k in x.split() if (k[0:2] == '30')]
        numb2 = [int(k) for k in x.split() if k.isdigit()]
        numb = numb1 + numb2
    if 'ongoing' in x:
        numb = [0]
    return(numb[0])
def delay_date(date, days):
    subtracted_date = pd.to_datetime(date) - timedelta(days=days)
    subtracted_date = subtracted_date.strftime("%Y-%m-%d")
    return subtracted_date
df_date['date of posting'] = df_date['post_date'].apply(lambda x: delay_date('2023-03-15', delay(x)))
df1 = df_date

#### Split the 'job_salary' column into 'job_salary_lower' and 'job_salary_upper'

In [ ]:
#Add job_salary_lower and job_salary_upper
df_sal = df1
from numpy import NaN
def change_Salary(Salaries):
  dict_salary={'job_salary_lower':[],"job_salary_upper":[]}
  for x in Salaries:
    if x=='?':
      x='?'
      dict_salary['job_salary_lower'].append('?')
      dict_salary['job_salary_upper'].append('?')
    elif(x[0]=='₹' and x[-4:]=='year') and '-' in x:
      dict_salary['job_salary_lower'].append(int(x.replace("-","").replace("₹","").split()[0].replace(",","")))
      dict_salary['job_salary_upper'].append(int(x.replace("-","").replace("₹","").split()[1].replace(",","")))

    elif(x[0]=='₹' and x[-4:]=='hour') and '-' in x:
      dict_salary['job_salary_lower'].append(int(x.replace("-","").replace("₹","").split()[0].replace(",",""))*8*220)
      dict_salary['job_salary_upper'].append(int(x.replace("-","").replace("₹","").split()[1].replace(",",""))*8*220)

    elif(x[0]=='₹' and x[-4:]=='year'):
      dict_salary['job_salary_lower'].append(float(NaN))
      dict_salary['job_salary_upper'].append(x.replace("-","").replace("₹","").split()[0].replace(",",""))

    elif(x[0]=='₹' and x[-4:]=='hour'):
      dict_salary['job_salary_lower'].append(float(NaN))
      dict_salary['job_salary_upper'].append(int(x.replace("₹","").split()[0].replace(",",""))*8*220)

    elif(x[0]=='₹' and x[-3:]=='day'):
      dict_salary['job_salary_lower'].append(int(x.replace("-","").replace("₹","").split()[0].replace(",",""))*220)
      dict_salary['job_salary_upper'].append(int(x.replace("-","").replace("₹","").split()[1].replace(",",""))*220)

    elif(x[:4]=='From' and x[-4:]=='year'):
      dict_salary['job_salary_lower'].append(x.split()[1].replace(",","").replace("₹",""))
      dict_salary['job_salary_upper'].append(float(NaN))

    elif(x[:4]=='From' and x[-3:]=='day'):
      dict_salary['job_salary_lower'].append(int(x.split()[1].replace(",","").replace("₹",""))*220)
      dict_salary['job_salary_upper'].append(float(NaN))

    elif(x[:4]=='From' and x[-4:]=='hour'):
      dict_salary['job_salary_lower'].append(int(x.split()[1].replace(",","").replace("₹",""))*8*220)
      dict_salary['job_salary_upper'].append(float(NaN))

    elif(x[0]=='₹' and x[-5:]=='month'):
      dict_salary['job_salary_lower'].append(float(NaN))
      dict_salary['job_salary_upper'].append(int(x.split()[0].replace(",","").replace("₹",""))*12)

    elif x[:2]=='Up':
      dict_salary['job_salary_lower'].append(float(NaN))
      dict_salary['job_salary_upper'].append(int(x.replace("₹","").split()[2].replace(",","")))
    elif x[:4]=='From' and x[-5:]=='month':
      dict_salary['job_salary_lower'].append(int(x.replace("₹","").split()[1].replace(",",""))*12)
      dict_salary['job_salary_upper'].append(float(NaN))
    else:
      print(x)
      break
  return dict_salary
dict_saly_upp_low=change_Salary(df_sal['salary'])
job_salary_lower = list(dict_saly_upp_low['job_salary_lower'])
job_salary_upper = list(dict_saly_upp_low['job_salary_upper'])
df_sal['job_salary_lower'] = job_salary_lower
df_sal['job_salary_upper'] = job_salary_upper
df_sal.head()
df1 = df_sal

#### Create a new column called 'is_remote', which will be true if it is a remote job

In [ ]:
#Add is_remote
df_remote = df1
def remote(x):
    if 'Remote' in x:
        return True
    else:
        return False
df_remote['is_remote'] = df_remote['job_location'].apply(lambda x: remote(x))
df1 = df_remote

#### Clean the 'job_location' column to include only city name in India, if no city is found, make it by default 'India'. If it's remote, make the value as 'Remote'

In [ ]:
#Updated Job Location
df_city = df1
cities=[]
for location in df1['job_location']:
  cities.append(location.split(',')[0])
cities=[city if city[0:6]!='Remote' else "Remote" for city in cities]
states=["Andhra Pradesh","Arunachal Pradesh ","Assam","Bihar","Chhattisgarh","Goa","Gujarat","Haryana","Himachal Pradesh","Jammu and Kashmir","Jharkhand","Karnataka","Kerala","Madhya Pradesh","Maharashtra","Manipur","Meghalaya","Mizoram","Nagaland","Odisha","Punjab","Rajasthan","Sikkim","Tamil Nadu","Telangana","Tripura","Uttar Pradesh","Uttarakhand","West Bengal","Andaman and Nicobar Islands","Chandigarh","Dadra and Nagar Haveli","Daman and Diu","Lakshadweep","National Capital Territory of Delhi","Puducherry"]
for index,city in enumerate(cities):
  if city in states:
    cities[index]="India"
df_city['job_location'] = cities
df1 = df_city

### Visualization

#### How are the jobs distributed geographically?

In [ ]:
px.bar(df1,x='job_location',color='job_role',title='Geographic Distribution')

In [ ]:
def returnstate(x):
  states=["Andhra Pradesh","Arunachal Pradesh ","Assam","Bihar","Chhattisgarh","Goa","Gujarat","Haryana","Himachal Pradesh","Jammu and Kashmir","Jharkhand","Karnataka","Kerala","Madhya Pradesh","Maharashtra","Manipur","Meghalaya","Mizoram","Nagaland","Odisha","Punjab","Rajasthan","Sikkim","Tamil Nadu","Telangana","Tripura","Uttar Pradesh","Uttarakhand","West Bengal","Andaman and Nicobar Islands","Chandigarh","Dadra and Nagar Haveli","Daman and Diu","Lakshadweep","National Capital Territory of Delhi","Puducherry"]
  for state in states:
    if state in x:
      return state
df2=df[['title','job_location','job_role']]
df2.reset_index()
new_df=df2['job_location'].apply(lambda x: returnstate(x)).reset_index()
df2.loc[:,['job_location']]=new_df.loc[:,['job_location']]
fig=px.bar(df2,x='job_location',color='job_role',title='Geographic Distribution Statewise')
fig.show()

<ipython-input-48-7813c22738d5>:9: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
def count_dict(column):
  states=["Andhra Pradesh","Arunachal Pradesh ","Assam","Bihar","Chhattisgarh","Goa","Gujarat","Haryana","Himachal Pradesh","Jammu and Kashmir","Jharkhand","Karnataka","Kerala","Madhya Pradesh","Maharashtra","Manipur","Meghalaya","Mizoram","Nagaland","Odisha","Punjab","Rajasthan","Sikkim","Tamil Nadu","Telangana","Tripura","Uttar Pradesh","Uttarakhand","West Bengal","Andaman and Nicobar Islands","Chandigarh","Dadra and Nagar Haveli","Daman and Diu","Lakshadweep","National Capital Territory of Delhi","Puducherry"]
  state_count={f"{state}":0 for state in states}
  for state in states:
    for values in column:
      if state in values:
        state_count[state]+=1
  return state_count
state_count=count_dict(df['job_location'])
x=list(state_count.keys())
y=list(state_count.values())
statewisejob={'States':x,'Number_of_Jobs':y}
fig = plt.figure(figsize = (30, 5))
fig=px.bar(statewisejob, x='States', y='Number_of_Jobs',title='Geographic distributions of Jobs Statewise')
fig.show()

#### Show which companies have more than 5 job-postings

In [ ]:
#List of Companies having more than 5 job postings
df_jobPosting = df1.groupby('companyName')['title'].count()
df_jobPosting = pd.DataFrame(df_jobPosting).reset_index()

In [ ]:
print(list(df_jobPosting['companyName'][df_jobPosting['title'] > 5]))

['ARA Resources', 'Accenture', 'Airtel India', 'Barclays', 'Bechtel', 'Bosch Group', 'Boston Consulting Group', 'Cardinal Health', 'DXC Technology', 'Deloitte', 'Deutsche Bank', 'Genpact', 'Infosys Limited', 'Mercedes-Benz Research and Development India...', 'PayPal', 'PayU', 'Telstra', 'Uber']

In [ ]:
print(df_jobPosting.head())
px.bar(df_jobPosting,x='companyName',y='title',title="Comapnies offering more than 5 job postings")

                    companyName  title
0                   12th Wonder      1
1     3Minds eSolutions Pvt Ltd      1
2                       5x Data      1
3    8andH Engineering Services      2
4  A for Analytics IT Solutions      2

#### Show the distribution of number of characters in description

In [ ]:
desc_dist=df1[['job_role','Job_Summary']]
desc_dist['total_characters']=desc_dist['Job_Summary'].apply(lambda x : len(x))

<ipython-input-23-3a01b84c848d>:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
desc_dist=desc_dist.reset_index()
desc_dist.head()

,index,job_role,Job_Summary,total_characters
0,0,Data Engineer,"As a Software Engineer 2, responsible for the ...",158
1,1,Data Engineer,Key participant in business development includ...,132
2,2,Data Engineer,The team consists of 10-12 engineers and is re...,160
3,3,Data Engineer,Work on problems of moderate scope where analy...,112
4,4,Data Engineer,"As a Software Engineering Manager 2, leading a...",158

In [ ]:
fig = px.scatter(desc_dist, y="total_characters", x="index",color='job_role')
fig.show()

#### Show the distribution of salaries in remote jobs based on roles

In [ ]:
#Updated Salary (removed NaN and '?' for Remote Jobs)
salary_job=df1[df1['job_location']=='Remote'][['job_role','job_salary_lower','job_salary_upper']]
update_Salary_job=salary_job[(salary_job['job_salary_lower']!='?') & (salary_job['job_salary_upper']!='?')]
for ind in update_Salary_job.index:
  if pd.isnull(update_Salary_job['job_salary_lower'][ind]):
    update_Salary_job['job_salary_lower'][ind]=update_Salary_job['job_salary_upper'][ind]
  if pd.isnull(update_Salary_job['job_salary_upper'][ind]):
    update_Salary_job['job_salary_upper'][ind]=update_Salary_job['job_salary_lower'][ind]

<ipython-input-26-45b7d9782167>:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<ipython-input-26-45b7d9782167>:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
data_11 = (update_Salary_job['job_salary_lower'][df1['job_role'] == 'Data Engineer']).to_numpy()
data_12 = (update_Salary_job['job_salary_lower'][df1['job_role'] == 'Data Analyst']).to_numpy()
data_13 = (update_Salary_job['job_salary_lower'][df1['job_role'] == 'Data Scientist']).to_numpy()
data_14 = (update_Salary_job['job_salary_lower'][df1['job_role'] == 'Machine Learning Engineer']).to_numpy()
data_21 = (update_Salary_job['job_salary_upper'][df1['job_role'] == 'Data Engineer']).to_numpy()
data_22 = (update_Salary_job['job_salary_upper'][df1['job_role'] == 'Data Analyst']).to_numpy()
data_23 = (update_Salary_job['job_salary_upper'][df1['job_role'] == 'Data Scientist']).to_numpy()
data_24 = (update_Salary_job['job_salary_upper'][df1['job_role'] == 'Machine Learning Engineer']).to_numpy()

In [ ]:
df_low_sal =pd.DataFrame(dict(
    series=np.concatenate((["Data Engineer"]*len(data_11), ["Data Analyst"]*len(data_12), ["Data Scientist"]*len(data_13), ["Machine Learning Engineer"]*len(data_14))),
    Salary_Band  =np.concatenate((data_11,data_12, data_13, data_14))))
px.histogram(df_low_sal, x="Salary_Band", color="series", barmode="overlay",  nbins=32, title = 'Lower Salary')

In [ ]:
df_up_sal =pd.DataFrame(dict(
    series=np.concatenate((["Data Engineer"]*len(data_21), ["Data Analyst"]*len(data_22), ["Data Scientist"]*len(data_23), ["Machine Learning Engineer"]*len(data_24))),
    Salary_Band  =np.concatenate((data_21,data_22, data_23, data_24))))
px.histogram(df_up_sal, x="Salary_Band", color="series", barmode="overlay",  nbins=32, title = 'Upper Salary')

#### Show the distribution of salaries in 'Banglore'

In [ ]:
#Updated Salary (removed NaN and '?' for 'Bengaluru')
salary_bang=df1[df1['job_location']=='Bengaluru'][['job_role','job_salary_lower','job_salary_upper']]
update_Salary_Bang=salary_bang[(salary_bang['job_salary_lower']!='?') & (salary_bang['job_salary_upper']!='?')]
for ind in update_Salary_Bang.index:
  if pd.isnull(update_Salary_Bang['job_salary_lower'][ind]):
    update_Salary_Bang['job_salary_lower'][ind]=update_Salary_Bang['job_salary_upper'][ind]
  if pd.isnull(update_Salary_Bang['job_salary_upper'][ind]):
    update_Salary_Bang['job_salary_upper'][ind]=update_Salary_Bang['job_salary_lower'][ind]
update_Salary_Bang['job_salary_lower'] = pd.to_numeric(update_Salary_Bang['job_salary_lower'])
update_Salary_Bang['job_salary_upper'] = pd.to_numeric(update_Salary_Bang['job_salary_upper'])

<ipython-input-30-e1d731f457c2>:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<ipython-input-30-e1d731f457c2>:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<ipython-input-30-e1d731f457c2>:9: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<ipython-input-30-e1d731f457c2>:10: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
mean_sal_Banglore = []
for i in range(len(update_Salary_Bang['job_salary_lower'])):
    mean_sal_Banglore.append(list(update_Salary_Bang['job_salary_lower'])[i] + list(update_Salary_Bang['job_salary_upper'])[i])
px.histogram(x = mean_sal_Banglore, nbins = 50, title = 'Salary Distribution in Banglore')

## Clustering

Perform the following type of clustering of salaries for 4 roles(Data Engineer,Data Analyst,Data
Scientist,Machine Learning Engineer) separately for different regions in India.
1. K-Means/K-Medians
2. Agglomerative Clustering

Visualize the clusters and answer some questions:
1. Is the salary of Data Scientist in Bangalore higher than Hyderabad?
2. Which location should I favour for ML Engineer Role?

In [ ]:
columns=df1.columns
dfsal=df1[columns]

In [ ]:
df1['job_location'].value_counts()

Bengaluru          363
Remote             244
India               77
Pune                70
Hyderabad           68
                  ...
Panaji               1
Medchal              1
Wakad                1
Powai                1
Electronic City      1
Name: job_location, Length: 83, dtype: int64

In [ ]:
df1.head()

,title,job_role,companyName,job_location,Job_Summary,post_date,salary,today_date,Job_url,date of posting,job_salary_lower,job_salary_upper,is_remote
0,Software Engineer 2- BIOS Automation,Data Engineer,Dell Technologies,Bengaluru,"As a Software Engineer 2, responsible for the ...",PostedPosted 30+ days ago,?,2023-03-15,/pagead/clk?mo=r&ad=-6NYlbfkN0BdeCH3wzlYpD364B...,2023-02-13,?,?,False
1,Broadcast Engineer,Data Engineer,"Conference Technologies, Inc.",Pune,Key participant in business development includ...,PostedPosted 30+ days ago,?,2023-03-15,/pagead/clk?mo=r&ad=-6NYlbfkN0AiNMvsi1d0NtjZYR...,2023-02-13,?,?,False
2,Software Engineer,Data Engineer,Clarivate,Bengaluru,The team consists of 10-12 engineers and is re...,PostedPosted 30+ days ago,?,2023-03-15,/pagead/clk?mo=r&ad=-6NYlbfkN0BUkGQXKvz_vqTVnr...,2023-02-13,?,?,False
3,SR Mulesoft Engineer,Data Engineer,Giant Eagle,Yelahanka Satellite Town,Work on problems of moderate scope where analy...,PostedPosted 13 days ago,?,2023-03-15,/pagead/clk?mo=r&ad=-6NYlbfkN0B9Z5kUrYpJSl1jY-...,2023-03-02,?,?,False
4,R216181 Manager 2 Software Engineering - Embed...,Data Engineer,Dell Technologies,Bengaluru,"As a Software Engineering Manager 2, leading a...",PostedPosted 30+ days ago,?,2023-03-15,/pagead/clk?mo=r&ad=-6NYlbfkN0BdeCH3wzlYpD364B...,2023-02-13,?,?,False

In [ ]:
columns=df1.columns
new_df=df1[columns]

In [ ]:
new_df

In [ ]:
new_df.head()

,title,job_role,companyName,job_location,Job_Summary,post_date,salary,today_date,Job_url,date of posting,job_salary_lower,job_salary_upper,is_remote
0,Software Engineer 2- BIOS Automation,Data Engineer,Dell Technologies,Bengaluru,"As a Software Engineer 2, responsible for the ...",PostedPosted 30+ days ago,?,2023-03-15,/pagead/clk?mo=r&ad=-6NYlbfkN0BdeCH3wzlYpD364B...,2023-02-13,?,?,False
1,Broadcast Engineer,Data Engineer,"Conference Technologies, Inc.",Pune,Key participant in business development includ...,PostedPosted 30+ days ago,?,2023-03-15,/pagead/clk?mo=r&ad=-6NYlbfkN0AiNMvsi1d0NtjZYR...,2023-02-13,?,?,False
2,Software Engineer,Data Engineer,Clarivate,Bengaluru,The team consists of 10-12 engineers and is re...,PostedPosted 30+ days ago,?,2023-03-15,/pagead/clk?mo=r&ad=-6NYlbfkN0BUkGQXKvz_vqTVnr...,2023-02-13,?,?,False
3,SR Mulesoft Engineer,Data Engineer,Giant Eagle,Yelahanka Satellite Town,Work on problems of moderate scope where analy...,PostedPosted 13 days ago,?,2023-03-15,/pagead/clk?mo=r&ad=-6NYlbfkN0B9Z5kUrYpJSl1jY-...,2023-03-02,?,?,False
4,R216181 Manager 2 Software Engineering - Embed...,Data Engineer,Dell Technologies,Bengaluru,"As a Software Engineering Manager 2, leading a...",PostedPosted 30+ days ago,?,2023-03-15,/pagead/clk?mo=r&ad=-6NYlbfkN0BdeCH3wzlYpD364B...,2023-02-13,?,?,False